.header{
  background-color: #6dc1f9;
}

.header-controls{
  display: flex;
  background-color: #6dc1f9;
  height: 60px;
  align-items: center;
  gap: 10px; 
  margin-left: 20px;
}

.alert{
  color: red;
  background-color: #ffe6e6;
  border: 1px solid #ffcccc;
  padding: 10px;
  border-radius: 5px;
  width: 15%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;  
  text-align: center;
  margin:  0 auto;
}

.btn-curriculum{
  display: flex; 
  align-items: center;
  padding: 0 20px; 
  border-radius: 1vh;
  background-color: #3e4342;
  color: #ffffff;
  text-decoration: none;
  height: 40px;
}

.btn-notice{
  display: flex; 
  align-items: center;
  padding: 0 20px; 
  border-radius: 1vh;
  background-color: #3e4342;
  color: #ffffff;
  text-decoration: none;
  height: 40px
}

.btn-banner{
  display: flex; 
  align-items: center;
  padding: 0 20px; 
  border-radius: 1vh;
  background-color: #3e4342;
  color: #ffffff;
  text-decoration: none;
  height: 40px
}

.btn-logout{
  text-decoration: none;
  color: #ffffff;
  margin-left: auto;
  margin-right: 20px; 
}

.back{
  display: block;
  margin-top:20px;
  text-decoration:none;
  color: #000000;
}

.register-container{
  display:flex;
  align-items: center;
}

.register{
    margin: 10px;
    background-color: #06a07a;
    border-radius: 1vh;
    color: #ffffff;
    width: 12%;
    height: 40px 
}

button.add-date {
    background-color:#0aa33a;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    font-size: 14px; 
    font-weight: bold
}

button.remove-date {
    background-color:#ea0b13;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    font-size: 24px; 
    font-weight: bold
}

.register-class{
  margin-left: 30px;
  border: solid 1px #202020;
  padding: 10px;
  background-color: #06a07a;
  border-radius: 1vh;
  color: #ffffff;
  text-decoration: none;
}

.selected-grade{
  margin-left: 130px;
  border: solid 1px #202020;
  padding: 10px;
  background-color: #6dc1f9;
  border-radius: 1vh;
  color: #ffffff;
}
  
.curriculum-list{
    display:flex;
    gap: 20px;
  }

.grade{
    display: flex;  
    padding: 10px;
    gap: 10px; 
    width: 15%;
    flex-direction: column;
    margin-top: 30px; 
  }

  .grade-btn{
    border-radius: 100vh;
    border: solid 1px #202020;
    background-color: #6dc1f9;
    color: #ffffff
  }

  #curriculum {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;   
}
  .curriculum{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 75%;
    justify-content: flex-start;

  }

  .curriculum-content{
    width: 30%;
    border: solid 1px #202020;
    padding: 10px;
    text-align: center;
    height: 300px;
  }

  .thumbnail {
    width: 100%;
  }


  .edit-class-btn{
    border-radius: 100vh;
    border: solid 1px #202020;
    background-color: #06a07a;
    color: #ffffff;
  }

  .edit-schedule-btn{
    border-radius: 100vh;
    border: solid 1px #202020;
    background-color: #06a07a;
    color: #ffffff;
    margin-left: 10px;
  }

.form-block-thumbnail{
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  max-width: 500px;
  margin-left: 200px;
}

.thumbnail-controls{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: auto;
  align-items: flex-start;
  margin-left: 20px;
}

.thumbnail-image {
  width: 300px;
  height: auto;
}

.curriculum-edit{
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-items: center;
}

.form-block{
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.edit-title{
  width: 100px;
  align-items: left;
}


input:not([type="checkbox"]):not([type="file"]),
select,
textarea {
  width: 400px;
  max-width: 100%;
}

.delivery-form-block{
  display: flex;
  gap: 20px;
  align-items: center;
}

.delivery_edit{
  display: flex;
  gap: 20px;
  max-width: 40%;
}

input[type="date"],
input[type="time"] {
  height: 30%;
  padding: 10px;
}

.delivery-button{
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.delivery-button .add{
  width: 40px; 
}

.delivery-button .register{
  background-color: #3d3e3e;
  margin: 0 auto;
  margin-top: 60px;
}